<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Add Project</title>
        <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
    </head>
    <body>
        <h1>hello project</h1>
        <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            Title: <input type="text" name="title"><br><br>
            Details: <input type="text" name="details"><br><br>
            Categories:
            <select name="categories">
                {% for category in all_categories %}
                <option value="{{category.id}}">{{ category.category_name }}</option>
                {% endfor %}
            </select><br><br>
            Tags: <p id="tagButton" onclick="addTag()">Add Tag</p>
            <div id="tagContainer"></div>
            Images: <input type="file" name="image[]" multiple><br><br>
            Target: <input type="number" name="target"><br><br>
            Start Date: <input type="date" name="start_date"><br><br>
            End Date: <input type="date" name="end_date"><br><br>
            <input type="submit">
        </form>
        <script src="{% static 'projects/js/main.js' %}"></script>
    </body>
</html>