<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>viewProject</title>
</head>
<body>
<table border="2">
     <tr>
         <th>Title</th>
         <th>Details</th>
         <th>Total Target</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th>Total Donation</th>
         <th>Average Rating</th>
     </tr>
     <tr>
         <td>{{ project.title }}</td>
         <td>{{ project.details }}</td>
         <td>{{ project.total_target }}</td>
         <td>{{ project.start_date }}</td>
         <td>{{ project.end_date }}</td>
         <td>{{ total_donation.donationNumber__sum }}</td>
         <td>{{ average_rating.rate__avg }}</td>
     </tr>
 </table>
    {% for img in images %}
        <img src="{{ img.photo.url }}" width="300" height="300">
     {% endfor %}
<br><br>

 <form action="{% url 'project_donate' project.id user_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="number" name="donation" id="">
            <input type="submit" value="Donate"/>
 </form>
<br><br>
 <form action="{% url 'project_rate' project.id user_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <select name="rate">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Rate"/>
 </form>
<br><br>
 <form action="{% url 'project_comment' project.id user_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Comment:
        <input type="text" name="comment">
        <input type="submit" value="Comment"/>
 </form>
{% for comment in comments %}
        <p>{{comment.comment}}</p>
        <form action="{% url 'comment_report' user_id comment.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="submit" value="Report"/>
        </form>
{% endfor %}


<script src="{% static 'projects/js/main.js' %}"></script>
</body>
</html>